body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.box-container {
  line-height: 0;
}

.box {
  border: 1px solid black;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.green {
  background-color: limegreen !important;
}

.red {
  background-color: crimson !important;
}

.grey {
  background-color: grey;
}